.heading-Gee{
    color: cyan;
}

.seksyen1{
    background-color: rgb(255, 8, 255);
    padding: 7% 15% 7%;
}

.banner{
    text-align: center;
}

.heading-Gee{
    color: cyan

}

.tulisanPutih{
    color: white;
}

.seksyen2{
    background-color: salmon;
    padding: 7% 15% 7%;
    text-align: center;
}

.feature-box{
    padding: 4.5%;
}

.icon{
    color: violet;
    margin-bottom: 1rem;
}
.footer{
    background-color: fuchsia;
    padding: 2%;
    text-align: center;
}